* {
  bg: #0d181cff;
  bg-alt: #1c353e;

  fg: #d7ffff;
  fg-alt: #3D9EF2;

  text-color: #d7ffff;

  borders: #ff564c;
  borders-alt: #3bceff;
  background-color: @bg;
  
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 15;
}
