* {
  bg: #0f1013ff;
  bg-alt: #24272f;

  fg: #edf3ff;
  fg-alt: #76739B;

  text-color: #edf3ff;

  borders: #ffe001;
  borders-alt: #8a84da;
  background-color: @bg;
  
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 15;
}
