* {
  bg: #0f0f0fff;
  bg-alt: #282828;

  fg: #ffffff;
  fg-alt: #0C83FE;

  text-color: #ffffff;

  borders: #ff66a4;
  borders-alt: #01aaff;
  background-color: @bg;
  
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 15;
}
