// EWW.SCSS 
// GLOBALS
*{
    all: unset;
    font-family: "Nova Mono";
    font-weight: 800;
}

.bars {
    background-image: url("images/background.png");
    background-color: #0E1F2F;
    border: 5px solid #ff4647;
    border-radius: 40px;
}


// LEFT MODULES
// Workspaces
.workspaces {
    margin-left: 10px;
    margin-top: -4px;
}
.workspace_buttons {
    font-family: Hack;
    font-size: 30px;
    margin: 0 3 0 2;
    color: #ffc994;
}

// Layout
.layout {
    all: unset;
    color: #ffc994;
    font-size: 25;
    margin: -6 0 -6 10;
}

// Music
.music_box { 
}
.music_box_popup {
    background-color: #0E1F2F;
    background-image: url("images/background.png");
    border: solid 5px #ff4647;
    border-radius: 0 0 20 20;
}
.media_art {
    border-right: solid 5px #ff4647;
    border-left: solid 5px #ff4647;
    margin-left: 14px;
    margin-right: 3px;
}
.media_art_popup {
    border: solid 5px #8dffff;
    border-radius: 5px;
    margin: 15 0 15 15;
}
.media_data { 
    margin-left: 10px;
    margin-right: 17px;
}
.media_data_popup {
}
.media_title {
    //font-family: "Meiryo";
    font-size: 15px;
    color: #ffc994;
    margin-top: -100px;
    margin-bottom: -70px;
}
.media_title_popup {
    font-size: 18px;
    margin: 0 15 -30 10;
    color: #ffc994;
}
.media_artist_popup {
    font-size: 14px;
    margin: 0 15 0 10;
    color: #019fb8;
//    background-color: #193855;
}
.media_buttons {
    font-size: 20px;
    margin-bottom: 2px;
    min-height: 22px;
}
.playpause_popup {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: #019fb8;
}
.move_popup {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: #ffc994;
}
.nextprev_popup {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: #ff6156;
}
.media_buttons_box_popup {
    
}
.toggle_button {
    margin-left: 15px;
    margin-right: 15px;
}
.bar_normal_popup scale trough highlight {
    all: unset;
    background-color: #E94546;
    border-radius: 15px;
}
.bar_normal_popup scale trough {
    all: unset;
    background-color: rgba(255,201,148, 0.4);
    min-height: 15px;
    margin: 0 15 15 15;
    border-radius: 15px;
    border: solid 5px #8dffff;
}
.bar_highlighted_popup scale trough highlight {
    all: unset;
    background-color: #8dffff;
    border-radius: 15px;
}
.bar_highlighted_popup scale trough {
    all: unset;
    background-color: rgba(255,201,148, 1);
    min-height: 15px;
    margin: 0 15 15 15;
    border-radius: 15px;
    border: solid 5px #8dffff;
}
.bar_normal scale trough highlight {
    all: unset;
    background-color: #027A8D;
    border-radius: 10px;
}
.bar_normal scale trough {
    all: unset;
    background-color: rgba(255,201,148, 0.4);
    min-width: 173px;
    min-height: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.bar_highlighted scale trough highlight {
    all: unset;
    background-color: #019fb8;
    border-radius: 10px;
}
.bar_highlighted scale trough {
    all: unset;
    background-color: #ffc994;
    min-width: 173px;
    min-height: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
}

// CENTER MODULES
.center_icons {
    margin-right: 5px;
    margin-left: 15px;
}
.center_labels {
    font-size: 15px;
    margin-bottom: -3px;
    margin-top: 1px;
    color: #ffc994;
}
.center_revealers {
    border-radius: 5px;
    background-color: rgba(14,31,47, 1);
    min-height: 32px;
    border: solid 2px #ffcb83;
    color: #019fb8;
}
.center_info scale trough highlight {
    all: unset;
    background: #F1A277;
    border-radius: 10px;            
    border: solid 2px #ffcb83;
}
.center_info scale trough {
    all: unset;
    background-color: rgba(255,201,148, 0.4);
    border-radius: 10px;
    min-width: 110px;
    min-height: 10px;               
}


// RIGHT MODULES 
.power_button {
    color: #ff6156;
    font-size: 25px;
    font-family: Caskaydia Cove Nerd Font;
    margin: -10 18 -10 15;
}
.time_box {
    margin-top: -10px;
    margin-bottom: -10px;
}
.time {
    color: #ffc994;
    font-size: 25px;
    margin-bottom: -20px;
    margin-top: -20px;
}
.date {
    color: #ffc994;
    font-size: 25px;
    margin-top: 8px;
}
.kb_box {
    color: #ffc994;
    font-size: 15px;
    margin-left: 2px;
    margin-right: 10px;
}
.kb_button_us {
    font-size: 15px;
    margin-bottom: -3px;
}
.kb_button_es {
    font-size: 15px;
    margin-top: -2px;
}
.cal {
    font-size: 16px;
    background-color: #0E1F2F;
    background-image: url("images/background.png");
    color: #ffc994;
    border: 5px solid #ff4647;
    border-radius: 0 0 20 20;
    padding: 10px;
}
