// EWW.SCSS 
// GLOBALS

@import "colors.scss";

*{
    all: unset;
    font-family: "Iosevka Curly";
    font-weight: 800;
}

.win_normal {
    background-image: url("images/background.png");
    background-color: $color0;
    border: 5px solid $color9;
    border-radius: 40px;
}

.win_hovered {
    background-image: url("images/background.png");
    background-color: $color8;
    border: 5px solid $color9;
    border-radius: 40px;
}

// LEFT MODULES
// Workspaces
.workspaces {
    margin-left: 10px;
    margin-top: -4px;
}
.workspace_buttons {
    font-family: Hack;
    font-size: 30px;
    margin: 0 3 0 2;
    color: $color15;
}

// Layout
.layout {
    all: unset;
    font-family: "Hack";
    color: $color15;
    font-size: 25;
    margin: -6 0 -6 10;
}

// Music
.music_box { 
}
.music_box_popup {
    background-color: $color0;
    background-image: url("images/background.png");
    border: solid 5px $color9;
    border-radius: 0 0 20 20;
}
.media_art {
    border-right: solid 5px $color9;
    border-left: solid 5px $color9;
    background-color: $color9;
    margin-left: 14px;
    margin-right: 3px;
    min-width: 40px;
    min-height: 40px;
}
.media_art_popup {
    border: solid 5px $color14;
    border-radius: 5px;
}
.media_art_popup_box {
    min-width: 140px;
    min-height: 140px;
    margin: 15 0 15 15;
}
.media_data { 
    margin-left: 10px;
    margin-right: 17px;
}
.media_data_popup {
}
.media_title {
    //font-family: "Meiryo";
    font-size: 16px;
    color: $color15;
    margin-bottom: -1px;
    margin-right: -5000px;
    margin-left: -5000px;
    margin-top: 2px;
}
.media_title_popup {
    font-size: 22px;
    color: $color15;
}
.media_artist_popup {
    font-size: 15px;
    margin: 0 15 0 10;
    color: $color12;
//    background-color: #31225a;
}
.media_buttons {
    font-size: 20px;
    margin-bottom: 2px;
}

.prev_button, .toggle_button, .next_button {
    font-size: 20px;
    min-width: 30px;
    margin-top: 2px;
    margin-bottom: -3px;
//    background-color: #ffffff;
}

.playpause_popup {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: $color12;
}
.move_popup {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: $color15;
}
.nextprev_popup {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: $color13;
}
.media_buttons_box_popup {
    
}
.toggle_button {
    margin-left: 15px;
    margin-right: 15px;
}
.bar_normal_popup scale trough highlight {
    all: unset;
    background-color: $color13;
    border-radius: 15px;
}
.bar_normal_popup scale trough {
    all: unset;
    background-color: rgba($color15, 0.4);
    min-height: 15px;
    margin: 0 15 15 15;
    border-radius: 15px;
    border: solid 5px $color14;
}
.bar_highlighted_popup scale trough highlight {
    all: unset;
    background-color: $color15;
    border-radius: 15px;
}
.bar_highlighted_popup scale trough {
    all: unset;
    background-color: rgba($color15, 0.4);
    min-height: 15px;
    margin: 0 15 15 15;
    border-radius: 15px;
    border: solid 5px $color14;
}
.bar_normal {
    margin-top: -6px;
    margin-bottom: -20px;
}
.bar_normal scale trough highlight {
    all: unset;
    background-color: $color12;
    border-radius: 10px;
}
.bar_normal scale trough {
    all: unset;
    background-color: rgba($color15, 0.4);
    min-width: 173px;
    min-height: 10px;
    border-radius: 10px;
}
.bar_highlighted {
    margin-top: -6px;
    margin-bottom: -20px;
}
.bar_highlighted scale trough highlight {
    all: unset;
    background-color: $color15;
    border-radius: 10px;
}
.bar_highlighted scale trough {
    all: unset;
    background-color: rgba($color15, 0.4);
    min-width: 173px;
    min-height: 10px;
    border-radius: 10px;
}

// CENTER MODULES
.center_icons {
    margin-right: 5px;
    margin-left: 15px;
}
.center_labels {
    font-size: 16px;
    margin-bottom: -3px;
    margin-top: 1px;
    color: $color15;
}
.center_revealers {
    border-radius: 5px;
    background-color: rgba($color0, 1);
    min-height: 32px;
    border: solid 2px $color11;
    color: $color12;
}
.center_info scale trough highlight {
    all: unset;
    background: $color3;
    border-radius: 10px;            
    border: solid 2px $color11;
}
.center_info scale trough {
    all: unset;
    background-color: rgba($color15, 0.4);
    border-radius: 10px;
    min-width: 110px;
    min-height: 10px;               
}


// RIGHT MODULES 
.power_button {
    color: $color13;
    font-size: 25px;
    font-family: Caskaydia Cove Nerd Font;
    margin: -10 18 -10 15;
}
.time_box {
    margin-top: -10px;
    margin-bottom: -10px;
}
.time {
    color: $color15;
    font-size: 30px;
    margin-bottom: -20px;
    margin-top: -20px;
}
.date {
    color: $color15;
    font-size: 30px;
    margin-top: 8px;
}
.kb_box {
    color: $color15;
    font-size: 16px;
    margin-left: 1px;
    margin-right: 10px;
}
.kb_button_active {
    font-size: 16px;
    margin-bottom: -3px;
    margin-top: -3px;
    color: rgba($color15, 1);
}
.kb_button_inactive {
    font-size: 16px;
    margin-top: -3px;
    margin-bottom: -3px;
    color: rgba($color15, 0.4);
}
.cal {
    font-size: 18px;
    background-color: $color0;
    background-image: url("images/background.png");
    color: $color15;
    border: 5px solid $color9;
    border-radius: 0 0 20 20;
    padding: 10px;
}
